# SQL SERVER
MSSQL_SA_PASSWORD=
MSSQL_PORT=1430
DB_NAME=

# TOKEN / AUTH
TOKEN_SECURITY_KEY=
TOKEN_ISSUER=
TOKEN_AUDIENCE_0=

# USER API
USER_API_BASE_URL=

# CACHE
CACHE_TYPE=
REDIS_CONN_STRING=

# GCP SECRET MANAGER
GCP_PROJECT_ID=
GCP_CREDENTIAL_BASE64=
GCP_OAUTH_CREDENTIAL_BASE64=

# GOOGLE CLOUD STORAGE
GCS_BUCKET_NAME=

# OPEN TELEMETRY
OTEL_ENABLED=
OTEL_TRACES_EXPORTER=
OTEL_EXPORTER_OTLP_ENDPOINT=

# OTEL COLLECTOR CONFIG
RECEIVER_OTLP_GRPC_ENDPOINT=
RECEIVER_OTLP_HTTP_ENDPOINT=
EXPORTER_OTLP_ENDPOINT=
EXPORTER_OTLP_JAEGER_ENDPOINT=
EXPORTER_PROMETHEUS_ENDPOINT=

# ELASTICSEARCH
ELASTIC_URL=
ELASTIC_INDEX=


# CORS - ALLOWED ORIGINS
ALLOWED_ORIGIN_0=
ALLOWED_ORIGIN_1=

# PORTS
API_PORT=44344
OAUTH_PORT=44343
NEXTJS_PORT=3000
